<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { tabTitle: 'Administracion de Usuarios' }) %>

    <body>

        <%- include('partials/header') %>

            <!-- =================TITULO=================  -->
            <div class="main4">
                <div class="adminContainer">
                    <h1 class="header1">ADMINISTRACION DE USUARIOS</h1>
                    <div class="container">
                        <form id="add-user" class="product-form-admin" onsubmit="addUser(event)">
                            <div class="input-box">
                                <label for="nameLabel">Nombre</label>
                                <input type="text" name="fullName" id="nameLabel" required class="inputBox">
                            </div>
                            <!-- <div class="register__casillero">
                                <label for="avatar" class="register__text1"> Avatar:</label> <br>
                                <input type="file" name="avatar" id="avatar" class="register__age" min="12" max="130">
                            </div> -->
                            <div class="input-box">
                                <label for="nameLabel">Apellido</label>
                                <input type="text" name="surname" id="nameLabel" required class="inputBox">
                            </div>
                            <div class="input-box">
                                <label for="mailLabel">Email</label>
                                <input type="email" name="mail" id="mailLabel" required class="inputBox"
                                    placeholder="nombre@ejemplo.com" minlength="8" maxlength="45"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            </div>
                            <div class="input-box">
                                <label for="rolLabel">ROL</label>
                                <input type="text" name="rol" id="RolLabel" required class="inputBox">
                            </div>

                            <!-- <div class="input-box">
                                <label for="nameLabel">Creado</label>
                                <input type="text" name="name" id="nameLabel" required class="inputBox">
                            </div> -->

                            <button type="submit" class="submit-btn" id="submit-btn-user">Añadir</button>
                        </form>
                        <div class="table-container">
                            <table class="table-product">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Email</th>
                                        <th>ROL</th>
                                        <th>Creado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-Users">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>






            <%- include('partials/footer') %>

                <!-- watsapp logo -->

                <div class="whatsapp-container">
                    <a href="https://walink.co/1565a1" target="_blank">
                        <img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5302_-_Whatsapp-512.png"
                            alt="whatsapp logo" class="logoWP">
                    </a>
                </div>

                <!-- =================JS=================  -->
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/js/alert.js"></script>
                <script src="/js//date.js"></script>
                <script src="/js/users.js"></script>
                <script src="/js/header.js"></script>
                <script src="/js/isAdmin.js"></script>
                <script src="/js/cartUpdate.js"></script>
                <script src="/js/loginUserAvatar.js"></script>




    </body>

</html>