<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { tabTitle: 'Orden de compra' }) %>

    <body>

        <%- include('partials/header') %>

            <!-- =================INFO=================  -->




            <div class="main4">
                <div class="adminContainer">
                    <h1 class="header1">BUSCAR ORDEN POR USUARIO</h1>
                    <div class="container">
                        <label for=""></label>
                            <div class="input-box">
                                <label for="nameLabel">Usuario</label>
                                <input type="text" name="name" required class="inputBox" placeholder="Buscar..." autofocus  onkeyup="metodoFilterOrder(event)" id="searchProductBtnOrders">
                                
                            </div>
                            <div class="product-search__btnDiv">
                            <button type="submit" class="product-search__btn" id="submit-btn-order" onclick="searchOrder(event)">Buscar</button>
                        </div>

                        <div class="table-container">
                            <table class="table-product">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>ID de orden</th>
                                        <th>Precio Total</th>
                                        <th>Cantidad de Productos</th>
                                        <th>Status</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-orders">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            <%- include('partials/footer') %>
                <div class="whatsapp-container">
                    <a href="https://walink.co/1565a1" target="_blank">
                        <img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5302_-_Whatsapp-512.png"
                            alt="whatsapp logo" class="logoWP">
                    </a>
                </div>

                <!-- =================JS=================  -->
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/js//date.js"></script>
                <script src="/js/header.js"></script>
                <script src="/js/alert.js"></script>
                <script src="/js/loginUserAvatar.js"></script> 
                <script src="/js/filter.js"></script>
                <script src="/js/btnBuy.js"></script>
                <!-- <script src="/js/orderFinal.js"></script> -->
                <script src="/js/orderFinalMongoDB.js"></script>
                <script src="/js/adminOrders.js"></script>


    </body>

</html>

<div class="product-search">
    <label for=""></label>
    <div>
        <input type="text" class="product-search__input" placeholder="Buscar..." autofocus
            onkeyup="metodoFilter(event)" id="searchProductBtn">

    </div>
    <div class="product-search__btnDiv">
        <button class="product-search__btn" onclick="searchProduct(event)"
            id="productId">Buscar</button>
    </div>

</div>