<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { tabTitle: 'Orden de compra' }) %>

    <body>

        <%- include('partials/header') %>

            <!-- =================INFO=================  -->




            <div class="main4">
                <div class="adminContainer">
                    <h1 class="header1">BUSCAR ORDEN POR USUARIO</h1>
                    <div class="container">
                        <form id="add-product" class="product-form-admin" onsubmit="addProduct(event)">
                            <div class="input-box">
                                <label for="nameLabel">Producto</label>
                                <input type="text" name="name" id="nameLabel" required class="inputBox">
                            </div>
                            <div class="input-box">
                                <label for="descLabel">Descripción</label>
                                <textarea name="description" id="descLabel" rows="4" required class="inputBoxText">
                            </textarea>
                            </div>

                            <div class="input-box">
                                <label for="priceLabel">Precio</label>
                                <input type="number" name="price" id="priceLabel" required class="inputBox">
                            </div>
                            <div class="input-box" id="uploadImageInput">
                                <label for="imgLabel" class="descLabel">Imagen</label>
                                <input type="file" name="file" accept="image/*" id="imgLabel">
                            </div>
   
                            <div class="input-box">
                                <label for="descLabel">Detalle</label>
                                <textarea name="detail" id="descLabel" rows="8" required class="inputBoxTextDetail">
                            </textarea>
                            </div>
                            <!-- 
                            <div class="input-box">
                                <label for="stockLabel">Stock</label>
                                <input type="checkbox" name="stock" id="stockLabel">
                            </div> -->


                            <button type="submit" class="submit-btn-products" id="submit-btn">Cargar Producto</button>
                        </form>
                        <div class="table-container">
                            <table class="table-product">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>ID de orden</th>
                                        <th>Precio Total</th>
                                        <th>Cantidad de Productos</th>
                                        <th>Status</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-orders">

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            <%- include('partials/footer') %>
                <div class="whatsapp-container">
                    <a href="https://walink.co/1565a1" target="_blank">
                        <img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5302_-_Whatsapp-512.png"
                            alt="whatsapp logo" class="logoWP">
                    </a>
                </div>

                <!-- =================JS=================  -->
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/js//date.js"></script>
                <script src="/js/header.js"></script>
                <script src="/js/alert.js"></script>
                <script src="/js/loginUserAvatar.js"></script> 
                <script src="/js/filter.js"></script>
                <script src="/js/btnBuy.js"></script>
                <!-- <script src="/js/orderFinal.js"></script> -->
                <script src="/js/orderFinalMongoDB.js"></script>
                <script src="/js/adminOrders.js"></script>


    </body>

</html>