<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { tabTitle: "Contacto"}) %>
</head>
<body>
    
    <%- include('partials/header') %>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo doloribus illo voluptatem perferendis cupiditate quaerat! Aut aspernatur debitis impedit laboriosam sit sapiente ducimus ea molestias, ut veniam dicta iusto placeat!</p>
    <%- include('partials/footer') %>
    
</body>
</html>