<input type="checkbox" class="navbar__menu-btn" id="menu-btn">

<label for="menu-btn" class="navbar__menu-label">
    <span class="navbar__menu-icon"></span>
</label>

<ul class="navbar__nav-links-container" id="navbar-list">
    <li class="navbar__nav-item">
        <a href="/index.html" class="navbar__nav-link">Inicio</a>
    </li>
    <li class="navbar__nav-item">
        <a href="/pages/contact/contact.html" class="navbar__nav-link">Contacto</a>
    </li>
    <li class="navbar__nav-item">
        <a href="/pages/about-us/about-us.html" class="navbar__nav-link">Nosotros</a>
    </li>
    <li class="navbar__nav-item">
        <a href="/pages/register/register.html" class="navbar__nav-link" target="_self">Registro</a>
    </li>
    <li class="navbar__nav-item" id="sign-in">
        <a href="/pages/login/login.html" class="navbar__nav-link" target="_blank">Login</a>
    </li>
</ul>
</nav>

</header>


<!-- =================TITULO=================  -->
<section class="mainLocation">

<div class="ContactLocation">
<h1>Visítanos</h1>
<div class="iframeLocation">
<iframe class="Contact__Iframe"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6523.027673099489!2d-58.233304067521054!3d-35.16874360175135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2c82b26cf970f%3A0x7fd9a3cc12336a4f!2sLarrea%2C%20Coronel%20Brandsen%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1671469508425!5m2!1ses-419!2sar" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>

</section>