<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { tabTitle: 'Ubicacion' }) %>

    <body>
        <%- include('partials/header') %>

            <!-- =================TITULO=================  -->
            <section class="mainLocation">

                <div class="ContactLocation">
                    <h1>Visítanos</h1>
                    <div class="iframeLocation">
                        <iframe class="Contact__Iframe"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6523.027673099489!2d-58.233304067521054!3d-35.16874360175135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2c82b26cf970f%3A0x7fd9a3cc12336a4f!2sLarrea%2C%20Coronel%20Brandsen%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1671469508425!5m2!1ses-419!2sar"
                            width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </section>


            <%- include('partials/footer') %>

                <div class="whatsapp-container">
                    <a href="https://walink.co/1565a1" target="_blank">
                        <img src="https://cdn3.iconfinder.com/data/icons/social-media-logos-flat-colorful/2048/5302_-_Whatsapp-512.png"
                            alt="whatsapp logo" class="logoWP">
                    </a>
                </div>

                <!-- =================JS=================  -->
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script src="/js/login.js"></script>
                <script src="/js/alert.js"></script>
                <script src="/js/header.js"></script>
                <script src="/js/register.js"></script>
                <script src="/js/login.js"></script>
                <script src="/js/orders.js"></script>
                <script src="/js/index.js"></script>
                <script src="/js/loginUserAvatar.js"></script>

    </body>

</html>


</body>

</html>